<html>
	<head>
		<title>
			Genetic Algorithm 
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	
	<body>
		<div class="container">
			<div class="display-4 text-center">
				Enter the String
			</div>
			
			<form action="" method="POST">
				<input type="text" class="form-control form-control-lg" name="myString">
				<div class="card text-center">
					<div class="card-body">
						<input type="submit" class="btn btn-dark" name="submit" value="Submit">
					</div>
				</div>
				
			</form>
			
			<div class="card text-center">
				<div class="card-body">
					{% for tempString in stringList %}
					<ul>
						<li>
							{{ tempString }}
						</li>
					</ul>
					{% endfor %}
				</div>
			</div>
			
		</div>
		
	</body>
</html>
